.blog-links {
    background-color: #05131d;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    color: #bdbddd;
    box-shadow: var(--shadow);
    font-weight: 500;
}


.blog-links:hover {
    background-color: #0471a6;
    font-weight: 500;
    color: #05131d;
}