* {
  box-sizing: border-box;
}

:root {
  --transition: all 0.2s linear;
}

body {
  margin: 0 auto;
  max-width:900px;
  padding: 1.3125rem 2.625rem;
  background-color: #181818;
  color: #e7e7e7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
}
h3,
h4 {
  margin: 0;
}
